$purlpe: #755cde;
$orange: #f6a560;
$pink: #f39e9e;
$soft-red: #eb7565;
$light-blue: #61c4b7;
$dark-purple: #552049;
$black: #030303;
$dark-gray: #7a746e;
$off-white: #fff7f0;

$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);
